In [2]:
import pandas as pd

file_path = 'Meteorite_Landings_20240911.csv'
meteorite_data = pd.read_csv(file_path)

meteorite_data.info(), meteorite_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  float64
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

(None,
        name   id nametype     recclass  mass (g)  fall    year    reclat  \
 0    Aachen    1    Valid           L5      21.0  Fell  1880.0  50.77500
 1    Aarhus    2    Valid           H6     720.0  Fell  1951.0  56.18333
 2      Abee    6    Valid          EH4  107000.0  Fell  1952.0  54.21667
 3  Acapulco   10    Valid  Acapulcoite    1914.0  Fell  1976.0  16.88333
 4   Achiras  370    Valid           L6     780.0  Fell  1902.0 -33.16667

      reclong           GeoLocation
 0    6.08333     (50.775, 6.08333)
 1   10.23333  (56.18333, 10.23333)
 2 -113.00000    (54.21667, -113.0)
 3  -99.90000     (16.88333, -99.9)
 4  -64.95000   (-33.16667, -64.95)  )

In [4]:
# handling missing values

meteorite_data['mass (g)'].fillna(meteorite_data['mass (g)'].median())
meteorite_data_cleaned = meteorite_data.dropna(subset=['year'])
meteorite_data_cleaned = meteorite_data_cleaned.dropna(subset=['reclat', 'reclong'])

In [6]:
# converting data types & removing duplicates

meteorite_data_cleaned['year'] = meteorite_data_cleaned['year'].astype(int)
meteorite_data_cleaned.drop_duplicates(inplace=True)
meteorite_data_cleaned = meteorite_data_cleaned.drop(columns=['GeoLocation'])

In [7]:
# filtering out invalid latitude and longitude values

meteorite_data_cleaned = meteorite_data_cleaned[(meteorite_data_cleaned['reclat'].between(-90, 90)) & 
                                                (meteorite_data_cleaned['reclong'].between(-180, 180))]

In [11]:
# displaying cleaned data

meteorite_data_cleaned.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong
0,Aachen,1,Valid,L5,21.0,Fell,1880,50.77500,6.08333
1,Aarhus,2,Valid,H6,720.0,Fell,1951,56.18333,10.23333
2,Abee,6,Valid,EH4,107000.0,Fell,1952,54.21667,-113.00000
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976,16.88333,-99.90000
4,Achiras,370,Valid,L6,780.0,Fell,1902,-33.16667,-64.95000